@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Nanum+Pen+Script&family=Tangerine:wght@400;700&display=swap');/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.text-title {
    font-family: 'Great Vibes', cursive;
}

form, .card {
    font-size: larger;
    letter-spacing: 0.1em;
    font-family: 'Annie Use Your Telescope', cursive;
}

a {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.2em;
}

h1, h2, h3 {
    font-family: 'Tangerine', cursive;
}

input, li {
    font-family: 'Open Sans', sans-serif;
}

/* background color */
.bg-body {
    background-color: #45505c;
    color: white;
}

/* main */
.main {
    max-width: 600px;
    margin: 24px auto; 
}

/* form */
form {
    background-color: #343a40;
    padding: 20px;
    border-radius: 4px;
}

.record-form {
    margin-top: 40px;
    padding: 0;
}

.record-form input {
    background: transparent;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: lighter;
}

/* banner */
.banner {
    color: white;
    padding: 200px 40px;
    width: 100%;
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('https://source.unsplash.com/fVUl6kzIvLg');
    backdrop-filter: grayscale(100%);
    background-size: cover;
}

.banner h1 {
    font-size: 60px;
}

.banner h2 {
    font-size: 32px;
}

.banner a {
    font-size: 1.2em;
}

/* sign up button */
.btn-signup {
    padding: 4px 40px;
}

/* lists */
.date-list {
    list-style: none;
    padding: 0;
}

.record-list {
    list-style: "✰";
}

.record-list li {
    padding-left: 8px;
}

/* date-card */
.date-card {
    background-color: #343a40;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 16px;
}

/* delete button in  */
.a-white {
    color: white;
}
.a-white:hover {
    color: rgb(200, 200, 200);
}