{% extends "layout.html" %}

{% block banner %}
    {% if session.get('user_id') == None %}
        <div class="banner">
            <h1>Happiness Journal</h1>
            <h2>A record of things that have made you smile today</h2>
            <a href="/register" class="btn btn-primary btn-signup">Register</a>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    {% if session.get('user_id') %}
        {% if records == {} %}
        <h2>Nothing here yet</h2>
        {% else %}
        {% for key in records %}
            <div class="date-card">
                <ul class="date-list">
                        <li>
                            <h1>{{ key }}</h1>
                            <ul class="record-list">
                                {% for record in records[key] %}
                                    <li>
                                        <div class="d-flex justify-content-between">
                                            {{ record['name'] }}
                                            <a class="a-white" href="/delete/{{ record['id'] }}"><i class="far fa-trash-alt"></i></a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
        <form class="record-form" action="/write" method="post">
            <input type="text" name="name" autocomplete="off" placeholder="What made you smile today?">
        </form>
    {% endif %}
{% endblock %}