{% extends "layout.html" %}

{% block banner %}
    {% if session.get('user_id') == None %}
        <div class="banner">
            <h1>Happiness Journal</h1>
            <h3>A record of things that have made you smile today</h3>
            <a href="/register" class="btn btn-primary btn-signup">Register</a>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    {% if session.get('user_id') %}
        <div class="date-card">
            <ul class="date-list">
                {% for key in records %}
                    <li>
                        <h1>{{ key }}</h1>
                        <ul class="record-list">
                            {% for record in records[key] %}
                                <li>
                                    {{ record['name'] }}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}